
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    color: white;
}

.landingPage {
    background-image: url("IP3-master/assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingContentWrapper div {
    margin-bottom: 20px;
}

#delani {
    margin-bottom: 0px;
}

#logoTag {
    margin-bottom: 0px;
    margin-top: 10px;
}

.mouseClick {
    position: absolute;
    bottom: 20px;
}