
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
   
}

body {
    margin: 0px;
    padding: 0px;
    color: white;
}


/* LANDING PAGE */
.landingPage {
    background-image: url("IP3-master/assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingContentWrapper div {
    margin-bottom: 20px;
}

#delani {
    margin-bottom: 0px;
}

#logoTag {
    margin-bottom: 0px;
    margin-top: 10px;
}

.mouseClick {
    position: absolute;
    bottom: 20px;
}


/* ABOUT US */
.aboutUs {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 80px;
    font-size: small;
}

.aboutUs h2 {
    margin-bottom: 10px;
}

.aboutUs p {
    text-align: center;
    margin-bottom: 15px;
}


/* SERVICES */
.services {
    background-image: url("IP3-master/assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
    padding: 0px 80px;
}

.servicesContentWrapper h2 {
    margin-bottom: 10px;
}

.servicesContentWrapper p {
    text-align: center;
    margin-bottom: 10px;
}

/* WHAT WE DO */
.whatWeDo {
    color: black;
    font-size: small;
    padding: 80px 80px 60px 80px;
}

.whatWeDo h2 {
    margin-bottom: 20px;
}

.whatWeDoContentWrapper {
    text-align: center;
}

.whatWeDoServiceIcons {
    display: flex;
    justify-content: space-between;
}

.whatWeDoServiceIcons div {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#designText{
    display: none;
    font-size: small;
}

#developmentText {
    display: none;
}

#productManagementText {
    display: none;
}
/* PORTFOLIO */
.portfolioContentWrapper{
    padding: 0px 80px;
    font-size: small;
}
.portfolioContentWrapper h2 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}


.portfolioImages:hover{
    opacity: 0.7;
}
.portfolioRowOne, .porfoloRowTwo {
    display: flex;
    justify-content: space-between;
}


.portfolioItem {
    position: relative;
}

.portfolioRowOne h3, .porfoloRowTwo h3 {
    display: none;
    position: absolute;
    bottom: 20px;
    background-color: rgb(255, 255, 255, 0.7);
    padding: 20px;
    left: 20px;
    text-align: left;
    color: black;
    
}

.portfolioRowOne div {
    width: 25%;
    margin-bottom: 20px;
}


.portfolioRowOne div img {
    width: 94%;
}

.porfoloRowTwo div {
    width: 25%;
}

.porfoloRowTwo div img {
    width: 94%;
}

/* CONTACT US */
.contactUs {
    font-size: small;
    margin-top: 80px;
    text-align: center;
    background-image: url("IP3-master/assets/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactUsContentWrapper {
    width: 80%;
}

.contactUs h2 {
    margin-bottom: 20px;
}

form{
    width: 100%;
}

form div {
    width: 100%;
}

form div input {
    background-color: transparent;
    border: 1px solid white;
    padding: 5px 10px;
    width: 40%;
}

form div input[type="email"] {
    margin-left: 20px;
}

form div input::placeholder {
    color: white;
    opacity: 0.7;
}

form textarea {
    background-color: transparent;
    border: 1px solid white;
    margin-top: 20px;
    padding: 5px 10px;
    width: 80%;
}

form textarea::placeholder {
    color: white;
    opacity: 0.7;
}


/* SOCIAL MEDIA */

.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

footer {
    color: black;
    text-align: center;
    margin-bottom: 40px;
}


/* MEDIA QUERY */

@media screen and (max-width: 500px){

    /* Landing Page */

    #logoTag {
        display: flex;
        flex-wrap: wrap;
    }
    #delani {
        display: flex;
        flex-wrap: wrap;
    }
    
    /* Portfolio Images */
    .portfolioRowOne, .porfoloRowTwo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .portfolioRowOne div {
        width: 100%;
        margin-bottom: 0px;
        
    }
    .porfoloRowTwo div {
        width: 100%;
    }
    .portfolioContentWrapper{
        margin: 0px 8px ;
        font-size: small;
        padding: 0px;
    }
    .portfolioRowOne div img {
        width: 100%;
    }
    .porfoloRowTwo div img {
        width: 100%;
    }
    

   /* What We Do */
    .whatWeDoServiceIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .whatWeDoServiceIcons div {
        width: 100%;
        margin-bottom: 20px;
    }
    .whatWeDo {
        margin: 8px;
    }
    
    /* SOCIAL ICONS */
    .socialMedia {
        flex-wrap: wrap;
        margin: 8px;
        align-items: center;
        justify-content: space-around;
    }

        /* CONTACT US */
    .contactUs {
        margin-top: 40px;
    }

    form div input {
        background-color: transparent;
        border: 1px solid white;
        padding: 5px 10px;
        width: 80%;
        margin-bottom: 10px;
    }

    form div input[type="email"] {
        margin-left: 0px;
    }

    /* SOCIAL MEDIA */

    .socialMedia {
        
        width: 100%;
    }
    .socialIcons {
        
        margin: auto;
        margin: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    footer {
        color: black;
        text-align: center;
        margin-bottom: 40px;
    }

}