
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    color: white;
}


/* LANDING PAGE */
.landingPage {
    background-image: url("IP3-master/assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingContentWrapper div {
    margin-bottom: 20px;
}

#delani {
    margin-bottom: 0px;
}

#logoTag {
    margin-bottom: 0px;
    margin-top: 10px;
}

.mouseClick {
    position: absolute;
    bottom: 20px;
}


/* ABOUT US */
.aboutUs {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 80px;
    font-size: small;
}

.aboutUs h2 {
    margin-bottom: 10px;
}

.aboutUs p {
    text-align: center;
    margin-bottom: 15px;
}


/* SERVICES */
.services {
    background-image: url("IP3-master/assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
    padding: 40px 80px;
}

.servicesContentWrapper h2 {
    margin-bottom: 10px;
}

.servicesContentWrapper p {
    text-align: center;
    margin-bottom: 10px;
}

